<h2>More information about {{model.owner}}'s {{model.type}}:</h2>

{{update-item item=model update="update"}}

{{item-detail item=model destroyItem="destroyItem"}}

{{new-review saveReview="saveReview" item=model}}
